<div class="content" id={{outletId}}>
  <p class="content-dimensions">
    <span class="dimension content-height">HEIGHT: {{height}}px</span>
    <span class="dimension content-width">WIDTH: {{width}}px</span>
  </p>

  <h2 class="content-outlet-title">{{content.title}}</h2>
  <p class="content-outlet-body">{{content.body}}</p>

  {{#if content.link}}
    <a href={{content.link}} class="content-outlet-link">{{content.linkText}}</a>
  {{/if}}

  <section class="content-outlet-actions">
    <button class="toggle-invert-colors" {{action "toggleInvertColors"}}>Invert Colors</button>
    <button class="toggle-padding" {{action "toggleNoPadding"}}>{{if @removePadding "Add" "Remove"}} Padding</button>
  </section>
</div>
